<!DOCTYPE html>
<html>
<head>
<title>Calculator</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

<script type="text/javascript" src="/angular/actualAngCal.js"></script>
</head>
<body ng-app="calApp">
	<div class="container">
		<form ng-controller="calCntrl">
			<input id="inputVal" type="number" placeholder = "0" ng-model="operationValue" autofocus/><br>
			
			<input class="btn" type="button" value="1" ng-click="updateOperationValue('1')"/>
			<input class="btn" type="button" value="2" ng-click="updateOperationValue('2')"/>
			<input class="btn" type="button" value="3" ng-click="updateOperationValue('3')"/>
			<input class="btn" type="button" value="+" ng-click="addInputs()" /><br>
			<input class="btn" type="button" value="4" ng-click="updateOperationValue('4')"/>
			<input class="btn" type="button" value="5" ng-click="updateOperationValue('5')"/>
			<input class="btn" type="button" value="6" ng-click="updateOperationValue('6')"/>
			<input class="btn" type="button" value="-" ng-click="subInputs()" /><br>
			<input class="btn" type="button" value="7" ng-click="updateOperationValue('7')"/>
			<input class="btn" type="button" value="8" ng-click="updateOperationValue('8')"/>
			<input class="btn" type="button" value="9" ng-click="updateOperationValue('9')"/>
			<input class="btn" type="button" value="*" ng-click="mulInputs()" /><br>
			<input class="btn" type="button" value="=" ng-click="calculate()" />
			<input class="btn" type="button" value="0" ng-click="updateOperationValue('0')"/>
			<input class="btn" type="button" value="C" ng-click="clearFields()" />
			<input class="btn" type="button" value="/" ng-click="divInputs()" /><br>
			
		</form>
	</div>
</body>
</html>